<?xml version="1.0" encoding="utf-16" standalone="yes"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary.Service1">
        <endpoint address="WcfServiceLibrary" binding="basicHttpBinding" contract="WcfServiceLibrary.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="WcfServiceLibrary" binding="netTcpBinding" contract="WcfServiceLibrary.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>